### Cricket Challenge for IND Vs AUS

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os

In [2]:
os.chdir(r'S:\1 Machine learning\Projects\Upgrad\cricketChallenge\Data\odi_csv_male')

In [3]:
files = os.listdir()

In [4]:
odis=[]
for file in files:
    if '.csv' in file:
        df = pd.read_csv(file,header=None,names=['ball','innings','delivery','BattingTeam','Batsman','NonStriker','Bowler','Runs',
                                            'Extras','Wkt','Dismissed'])
        odis.append(df)

In [5]:
len(odis)

1379

In [6]:
odis[0].head()

,ball,innings,delivery,BattingTeam,Batsman,NonStriker,Bowler,Runs,Extras,Wkt,Dismissed
0,version,1.3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,info,team,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,info,team,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,info,gender,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,info,season,2016/17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
IndVsAus = []
for match in odis:
    if ((match.iloc[1,2]=='Australia' and  match.iloc[2,2]=='India') or
       (match.iloc[1,2]=='India' and  match.iloc[2,2]=='Australia')):
        IndVsAus.append(match)

In [ ]:
len(IndVsAus)

In [ ]:
IndVsAus[0]

In [ ]:
col_list = ['1','2']
def check(element):
    return element in col_list

In [ ]:
matches = []
for df in IndVsAus:
    match = df.loc[df['innings'].map(check)]
    matches.append(match)